<div class="<%= card_classes %>">
  <div class="Box-header d-flex flex-items-center flex-justify-between">
    <div class="d-flex flex-items-center">
      <div class="mr-3">
        <svg class="octicon octicon-file-directory color-fg-muted" width="20" height="20" viewBox="0 0 16 16">
          <path d="M1.75 1A1.75 1.75 0 0 0 0 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0 0 16 13.25v-8.5A1.75 1.75 0 0 0 14.25 3H7.5a.25.25 0 0 1-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75Z"></path>
        </svg>
      </div>
      <div class="flex-1">
        <h4 class="f4 text-semibold mb-1">
          <%= link_to folder.name, folder_path(folder), class: "Link--primary" %>
        </h4>
      </div>
    </div>
    
    <% if show_actions %>
              <%= render(Layout::Card::ActionsMenuComponent.new(resource: folder, resource_type: 'folder')) %>
    <% end %>
  </div>

  <div class="Box-body">
    <% if folder.description.present? %>
      <p class="f5 color-fg-muted mb-3 lh-default">
        <%= truncated_description %>
      </p>
    <% end %>
    
    <div class="d-flex flex-column" style="gap: 12px;">
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Team:</span>
        <span class="f6 text-semibold"><%= team_name %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Organization:</span>
        <span class="f6 text-semibold"><%= organization_name %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Documents:</span>
        <span class="f6 text-semibold"><%= pluralize(document_count, 'document') %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Subfolders:</span>
        <span class="f6 text-semibold"><%= pluralize(subfolder_count, 'subfolder') %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Created:</span>
        <span class="f6 text-semibold"><%= formatted_date %></span>
      </div>
    </div>
  </div>
</div>
