<%= form_with model: folder, url: form_url, method: form_method, class: form_classes, local: true do |f| %>
  <% if folder.errors.any? %>
    <div class="flash flash-error mb-3">
      <h4 class="flash-heading">Please fix the following errors:</h4>
      <ul class="mb-0">
        <% folder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: name_field_classes, placeholder: "Enter folder name" %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: description_field_classes, rows: 4, placeholder: "Enter folder description (optional)" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-3">
        <%= f.label :team_id, "Team", class: "form-label" %>
        <%= f.select :team_id,
            options_from_collection_for_select(teams, :id, :name, folder.team_id),
            { prompt: "Select a team" },
            { class: select_classes } %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group mb-3">
        <%= f.label :parent_folder_id, "Parent Folder (optional)", class: "form-label" %>
        <%= f.select :parent_folder_id,
            options_from_collection_for_select(parent_folders, :id, :name, folder.parent_folder_id),
            { prompt: "Select a parent folder" },
            { class: select_classes } %>
      </div>
    </div>
  </div>

  <div class="form-actions d-flex flex-items-center gap-2">
    <%= f.submit submit_text, class: submit_button_classes %>
    <% if cancel_url %>
      <%= link_to "Cancel", cancel_url, class: cancel_button_classes %>
    <% end %>
  </div>
<% end %>
