<%= form_with model: folder, url: form_url, method: form_method, class: form_classes, local: true do |form| %>
  <div class="Box p-4">
    <%= render Primer::Alpha::FormControl.new do |form_control| %>
      <%= form_control.label(:name) %>
      <%= form_control.input(:name, type: :text, size: :large) %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new do |form_control| %>
      <%= form_control.label(:description) %>
      <%= form_control.text_area(:description, rows: 3) %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new do |form_control| %>
      <%= form_control.label(:team_id) %>
      <%= form_control.select(:team_id, 
          options_from_collection_for_select(teams, :id, :name, folder.team_id),
          prompt: "Select team") %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new do |form_control| %>
      <%= form_control.label(:parent_id) %>
      <%= form_control.select(:parent_id, 
          options_from_collection_for_select(parent_folders, :id, :name, folder.parent_id),
          prompt: "Select parent folder (optional)") %>
    <% end %>

    <div class="d-flex gap-2 mt-4">
      <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>
        <%= submit_text %>
      <% end %>
      <% if cancel_url %>
        <%= render Primer::Beta::Button.new(href: cancel_url, scheme: :secondary) do %>
          Cancel
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
