<div class="<%= card_classes %>">
  <div class="Box-header d-flex flex-items-center flex-justify-between">
    <div class="d-flex flex-items-center">
      <div class="mr-3">
        <svg class="octicon octicon-organization color-fg-muted" width="20" height="20" viewBox="0 0 16 16">
          <path d="M1.75 16A1.75 1.75 0 0 1 0 14.25V1.75C0 .784.784 0 1.75 0h8.5C11.216 0 12 .784 12 1.75v12.5c0 .085-.006.168-.018.25h2.268a.25.25 0 0 0 .25-.25V8.285a.25.25 0 0 0-.111-.208l-1.14-.815a.75.75 0 0 1-.375-.65V2.285a.25.25 0 0 0-.25-.25h-1.5a.25.25 0 0 0-.25.25v3.576c0 .055.019.11.055.155.036.044.085.075.14.095l.815.407a.75.75 0 0 1 .375.65v7.285a.25.25 0 0 0 .25.25h.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 0-.25-.25H12V4.715a.25.25 0 0 0-.111-.208L10.75 3.692a.75.75 0 0 1-.375-.65V1.75a.25.25 0 0 0-.25-.25h-8.5a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25H.25A.25.25 0 0 0 .5 14.25v-3.5a.75.75 0 0 1 1.5 0v3.5c0 .138.112.25.25.25h1.268a.75.75 0 0 1 0 1.5H1.75Z"></path>
        </svg>
      </div>
      <div class="flex-1">
        <h4 class="f4 text-semibold mb-1">
          <% if admin_context? %>
            <%= link_to organization.name, admin_organization_path(organization), class: "Link--primary" %>
          <% else %>
            <%= link_to organization.name, organization_path(organization), class: "Link--primary" %>
          <% end %>
        </h4>
      </div>
    </div>
  </div>

  <div class="Box-body">
    <% if truncated_description.present? %>
      <p class="f5 color-fg-muted mb-3 lh-default">
        <%= truncated_description %>
      </p>
    <% end %>

    <div class="d-flex flex-column" style="gap: 12px;">
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Users:</span>
        <span class="f6 text-semibold"><%= organization.total_users %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Teams:</span>
        <span class="f6 text-semibold"><%= organization.total_teams %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Created:</span>
        <span class="f6 text-semibold"><%= formatted_date %></span>
      </div>
    </div>
  </div>

  <% if show_actions %>
    <div class="Box-footer">
      <div class="d-flex flex-items-center flex-justify-between">
        <div class="d-flex flex-items-center" style="gap: 8px;">
          <% if admin_context? %>
            <%= link_to admin_organization_path(organization), class: "btn btn-sm btn-outline" do %>
              <svg class="octicon octicon-eye mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                <path d="M8 2c1.981 0 3.671.992 4.933 2.078 1.27 1.091 2.187 2.345 2.637 3.023a1.62 1.62 0 0 1 0 1.798c-.45.678-1.367 1.932-2.637 3.023C11.671 13.008 9.981 14 8 14c-1.981 0-3.671-.992-4.933-2.078C1.797 10.889.88 9.635.43 8.957a1.62 1.62 0 0 1 0-1.798c.45-.678 1.367-1.932 2.637-3.023C4.33 2.992 6.019 2 8 2ZM8 1c-2.314 0-4.29.99-5.824 2.246C1.343 5.682.5 7.295.18 8.23a2.12 2.12 0 0 0 0 1.54c.32.935 1.163 2.548 2.996 3.984C3.71 13.01 5.686 14 8 14c2.314 0 4.29-.99 5.824-2.246C15.657 10.318 16.5 8.705 16.82 7.77a2.12 2.12 0 0 0 0-1.54c-.32-.935-1.163-2.548-2.996-3.984C12.29 2.99 10.314 2 8 2Zm0 2.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm0 1.5a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"></path>
              </svg>
              View
            <% end %>
            <%= link_to edit_admin_organization_path(organization), class: "btn btn-sm btn-outline" do %>
              <svg class="octicon octicon-pencil mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.08-.283.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-1.238L13.19 6.25l1.439-1.44a.25.25 0 0 0 0-.354l-1.086-1.086a.25.25 0 0 0-.354 0Z"></path>
              </svg>
              Edit
            <% end %>
          <% else %>
            <%= link_to organization_path(organization), class: "btn btn-sm btn-outline" do %>
              <svg class="octicon octicon-eye mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                <path d="M8 2c1.981 0 3.671.992 4.933 2.078 1.27 1.091 2.187 2.345 2.637 3.023a1.62 1.62 0 0 1 0 1.798c-.45.678-1.367 1.932-2.637 3.023C11.671 13.008 9.981 14 8 14c-1.981 0-3.671-.992-4.933-2.078C1.797 10.889.88 9.635.43 8.957a1.62 1.62 0 0 1 0-1.798c.45-.678 1.367-1.932 2.637-3.023C4.33 2.992 6.019 2 8 2ZM8 1c-2.314 0-4.29.99-5.824 2.246C1.343 5.682.5 7.295.18 8.23a2.12 2.12 0 0 0 0 1.54c.32.935 1.163 2.548 2.996 3.984C3.71 13.01 5.686 14 8 14c2.314 0 4.29-.99 5.824-2.246C15.657 10.318 16.5 8.705 16.82 7.77a2.12 2.12 0 0 0 0-1.54c-.32-.935-1.163-2.548-2.996-3.984C12.29 2.99 10.314 2 8 2Zm0 2.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm0 1.5a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"></path>
              </svg>
              View
            <% end %>
            <%= link_to edit_organization_path(organization), class: "btn btn-sm btn-outline" do %>
              <svg class="octicon octicon-pencil mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.08-.283.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-1.238L13.19 6.25l1.439-1.44a.25.25 0 0 0 0-.354l-1.086-1.086a.25.25 0 0 0-.354 0Z"></path>
              </svg>
              Edit
            <% end %>
          <% end %>
        </div>
        <% if admin_context? %>
          <%= link_to admin_organization_path(organization), 
              method: :delete, 
              class: "btn btn-sm btn-danger",
              data: { 
                confirm: "Are you sure you want to delete '#{organization.name}'?",
                turbo_method: :delete
              } do %>
            <svg class="octicon octicon-trash mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.748 1.748 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"></path>
            </svg>
            Delete
          <% end %>
        <% else %>
          <%= link_to organization_path(organization), 
              method: :delete, 
              class: "btn btn-sm btn-danger",
              data: { 
                confirm: "Are you sure you want to delete '#{organization.name}'?",
                turbo_method: :delete
              } do %>
            <svg class="octicon octicon-trash mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.748 1.748 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"></path>
            </svg>
            Delete
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
