<%= form_with model: document, url: form_url, method: form_method, class: form_classes, local: true do |form| %>
  <div class="Box p-4">
    <%= render Primer::Alpha::FormControl.new(label: "Title") do |form_control| %>
      <%= form_control.input(:title, type: :text, size: :large) %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new(label: "Content") do |form_control| %>
      <%= form_control.text_area(:content, rows: 5) %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new(label: "URL") do |form_control| %>
      <%= form_control.input(:url, type: :url) %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new(label: "Status") do |form_control| %>
      <%= form_control.select(:status_id, 
          options_from_collection_for_select(statuses, :id, :name, document.status_id),
          prompt: "Select status") %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new(label: "Scenario") do |form_control| %>
      <%= form_control.select(:scenario_id, 
          options_from_collection_for_select(scenarios, :id, :name, document.scenario_id),
          prompt: "Select scenario") %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new(label: "Folder") do |form_control| %>
      <%= form_control.select(:folder_id, 
          options_from_collection_for_select(folders, :id, :name, document.folder_id),
          prompt: "Select folder") %>
    <% end %>

    <%= render Primer::Alpha::FormControl.new(label: "File") do |form_control| %>
      <%= form_control.input(:file, type: :file) %>
    <% end %>

    <div class="d-flex gap-2 mt-4">
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>
        <%= submit_text %>
      <% end %>
      <% if cancel_url %>
        <%= render Primer::Beta::Button.new(href: cancel_url, scheme: :secondary) do %>
          Cancel
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
