<div class="<%= card_classes %>">
  <div class="Box-header d-flex flex-items-center flex-justify-between">
    <div class="d-flex flex-items-center">
      <div class="mr-3">
        <svg class="octicon octicon-organization color-fg-muted" width="20" height="20" viewBox="0 0 16 16">
          <path d="M1.75 16A1.75 1.75 0 0 1 0 14.25V1.75C0 .784.784 0 1.75 0h8.5C11.216 0 12 .784 12 1.75v12.5c0 .085-.006.168-.018.25h2.268a.25.25 0 0 0 .25-.25V8.285a.25.25 0 0 0-.111-.208l-1.14-.815a.75.75 0 0 1-.375-.65V2.285a.25.25 0 0 0-.25-.25h-1.5a.25.25 0 0 0-.25.25v3.576c0 .055.019.11.055.155.036.044.085.075.14.095l.815.407a.75.75 0 0 1 .375.65v7.285a.25.25 0 0 0 .25.25h.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 0-.25-.25H12V4.715a.25.25 0 0 0-.111-.208L10.75 3.692a.75.75 0 0 1-.375-.65V1.75a.25.25 0 0 0-.25-.25h-8.5a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25H.25A.25.25 0 0 0 .5 14.25v-3.5a.75.75 0 0 1 1.5 0v3.5c0 .138.112.25.25.25h1.268a.75.75 0 0 1 0 1.5H1.75Z"></path>
        </svg>
      </div>
      <div class="flex-1">
        <h4 class="f4 text-semibold mb-1">
          <% if admin_context? %>
            <%= link_to organization.name, admin_organization_path(organization), class: "Link--primary" %>
          <% else %>
            <%= link_to organization.name, organization_path(organization), class: "Link--primary" %>
          <% end %>
        </h4>
      </div>
    </div>
    
    <% if show_actions %>
      <%= render(Collection::ActionsMenuComponent.new(resource: organization, resource_type: 'organization')) %>
    <% end %>
  </div>

  <div class="Box-body">
    <% if truncated_description.present? %>
      <p class="f5 color-fg-muted mb-3 lh-default">
        <%= truncated_description %>
      </p>
    <% end %>

    <div class="d-flex flex-column" style="gap: 12px;">
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Users:</span>
        <span class="f6 text-semibold"><%= organization.total_users %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Teams:</span>
        <span class="f6 text-semibold"><%= organization.total_teams %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Created:</span>
        <span class="f6 text-semibold"><%= formatted_date %></span>
      </div>
    </div>
  </div>
</div>

