<div class="<%= card_classes %>">
  <div class="Box-header d-flex flex-items-center flex-justify-between p-3">
    <h3 class="f4 text-semibold mb-0 d-flex flex-items-center">
      <svg class="octicon octicon-file-text mr-2 color-fg-muted" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
        <path d="M2 1.75C2 .784 2.784 0 3.75 0h6.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v9.586A1.75 1.75 0 0 1 13.25 16h-9.5A1.75 1.75 0 0 1 2 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h9.5a.25.25 0 0 0 .25-.25V6H9.75A1.75 1.75 0 0 1 8 4.25V1.5Zm6.75.062V4.25c0 .138.112.25.25.25h2.688l-.011-.013-2.914-2.914-.013-.011Z"></path>
      </svg>
      Recent Documents
    </h3>
    <%= link_to "View All", documents_path, class: "btn btn-sm" %>
  </div>
  <div class="Box-body p-0">
    <% if has_documents? %>
      <% documents.each_with_index do |document, index| %>
        <div class="d-flex flex-items-center p-3 <%= 'border-bottom' unless index == documents.size - 1 %>">
          <div class="flex-auto">
            <div class="f5 text-semibold mb-1">
              <%= link_to document.title, document, class: "Link--primary text-decoration-none" %>
            </div>
            <div class="d-flex flex-items-center flex-wrap">
              <span class="f6 color-fg-muted d-flex flex-items-center mr-3">
                <svg class="octicon octicon-file-directory mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12" aria-hidden="true">
                  <path d="M1.75 1A1.75 1.75 0 0 0 0 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0 0 16 13.25v-8.5A1.75 1.75 0 0 0 14.25 3H7.5a.25.25 0 0 1-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75Z"></path>
                </svg>
                <%= document.folder.name %>
              </span>
              <%= render(Ui::StatusBadgeComponent.new(status: document.status)) if document.status %>
            </div>
          </div>
          <div class="flex-shrink-0">
            <span class="f6 color-fg-muted">
              <%= time_ago_in_words(document.created_at) %> ago
            </span>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render(Ui::EmptyStateComponent.new(
        title: "No documents yet",
        description: "Create your first document to get started",
        icon: "file-text",
        action_text: "Create Document",
        action_url: new_document_path
      )) %>
    <% end %>
  </div>
</div>
