<div class="<%= card_classes %>">
  <div class="Box-body p-3">
    <div class="d-flex flex-items-center flex-justify-between">
      <div class="flex-auto">
        <div class="f1 lh-condensed text-semibold mb-1 <%= value_color_class %>"><%= value %></div>
        <div class="f5 color-fg-muted text-semibold"><%= title %></div>
      </div>
      <div class="flex-shrink-0">
        <svg class="octicon octicon-<%= icon %> <%= icon_color_class %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24" height="24" aria-hidden="true">
          <%= render_icon_svg(icon) %>
        </svg>
      </div>
    </div>
  </div>
</div>
