<% content_for :title, "Admin - New Scenario" %>

<div class="container-lg px-3 py-4">
  <!-- Header -->
  <div class="d-flex flex-items-center flex-justify-between mb-4">
    <div>
      <h1 class="h2 mb-1">Create New Scenario</h1>
      <p class="text-gray">Add a new scenario type to categorize documents</p>
    </div>
    <%= link_to admin_scenario_types_path, class: "btn btn-outline" do %>
      <svg class="octicon octicon-arrow-left mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
        <path d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"/>
      </svg>
      Back to Scenarios
    <% end %>
  </div>

  <div class="Layout Layout--sidebarPosition-start Layout--sidebar-narrow">
    <div class="Layout-main">
      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title">Scenario Information</h3>
        </div>
        <div class="Box-body">
          <%= form_with model: [:admin, @scenario_type], local: true, class: "form" do |form| %>
            <% if @scenario_type.errors.any? %>
              <div class="flash flash-error mb-3">
                <h4 class="flash-heading">Please correct the following errors:</h4>
                <ul class="list-style-none">
                  <% @scenario_type.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :name, class: "form-label" %>
              <%= form.text_field :name, class: "form-control", placeholder: "Enter scenario name" %>
              <p class="form-note">Choose a descriptive name for the scenario type</p>
            </div>

            <div class="form-group">
              <%= form.label :description, class: "form-label" %>
              <%= form.text_area :description, class: "form-control", rows: 3, placeholder: "Enter scenario description" %>
              <p class="form-note">Provide a clear description of when this scenario type should be used</p>
            </div>

            <div class="form-actions">
              <%= form.submit "Create Scenario", class: "btn btn-primary" %>
              <%= link_to "Cancel", admin_scenario_types_path, class: "btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="Layout-sidebar">
      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title">Scenario Guidelines</h3>
        </div>
        <div class="Box-body">
          <ul class="list-style-none">
            <li class="mb-2">
              <svg class="octicon octicon-info mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                <path d="M0 8a8 8 0 1116 0A8 8 0 010 8zm1.5 0a6.5 6.5 0 1013 0 6.5 6.5 0 00-13 0zM8 4a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 018 4zm0 8a1 1 0 100-2 1 1 0 000 2z"/>
              </svg>
              Use clear, descriptive names
            </li>
            <li class="mb-2">
              <svg class="octicon octicon-file-code mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                <path d="M4.72 3.22a.75.75 0 011.06 1.06L2.06 8l3.72 3.72a.75.75 0 11-1.06 1.06L.47 8.53a.75.75 0 010-1.06l4.25-4.25zm6.56 0a.75.75 0 10-1.06 1.06L13.94 8l-3.72 3.72a.75.75 0 101.06 1.06l4.25-4.25a.75.75 0 000-1.06l-4.25-4.25z"/>
              </svg>
              Consider document categorization needs
            </li>
            <li>
              <svg class="octicon octicon-people mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                <path d="M2 5.5a3.5 3.5 0 101.665 2.95L8.585 10l-.665.665 1.948 1.948a3.5 3.5 0 101.414-1.414l1.948-1.948L10 8.585l-1.55 1.665a3.5 3.5 0 10-2.95-1.665H2zM5.5 12a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm4.5-1.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"/>
              </svg>
              Think about team workflow patterns
            </li>
          </ul>
        </div>
      </div>

      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title">Quick Actions</h3>
        </div>
        <div class="Box-body">
          <div class="d-flex flex-column gap-2">
            <%= link_to admin_scenario_types_path, class: "btn btn-outline btn-sm" do %>
              <svg class="octicon octicon-list mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                <path d="M2 4a1 1 0 100-2 1 1 0 000 2zm3.75.75a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 3a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM2 7a1 1 0 11-2 0 1 1 0 012 0zm-1 3a1 1 0 100 2 1 1 0 000-2zm3.75.75a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5z"/>
              </svg>
              View All Scenarios
            <% end %>
            <%= link_to documents_path, class: "btn btn-outline btn-sm" do %>
              <svg class="octicon octicon-file mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                <path d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"/>
              </svg>
              Browse Documents
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
