<div class="container-lg px-3 py-4">
  <div class="d-flex flex-items-center flex-justify-between mb-4">
    <div class="d-flex flex-items-center">
      <div class="avatar avatar-8 mr-3">
        <img src="https://github.com/<%= @user.name.parameterize %>.png" alt="<%= @user.name %>" class="avatar-img" />
      </div>
      <div>
        <h1 class="h2 mb-1"><%= @user.name %></h1>
        <p class="text-gray mb-0"><%= @user.email %></p>
      </div>
    </div>
    <div class="d-flex flex-items-center gap-2">
      <% if current_user.admin? || current_user == @user %>
        <%= link_to edit_user_path(@user), class: "btn btn-outline" do %>
          <svg class="octicon octicon-pencil mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
            <path d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"/>
          </svg>
          Edit Profile
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to admin_user_path(@user), class: "btn btn-primary" do %>
          <svg class="octicon octicon-gear mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
            <path d="M8 4.754a3.246 3.246 0 100 6.492 3.246 3.246 0 000-6.492zM5.754 8a2.246 2.246 0 112.492-2.492 2.246 2.246 0 01-2.492 2.492zM8 2.25a5.75 5.75 0 100 11.5 5.75 5.75 0 000-11.5zM1.25 8a6.75 6.75 0 1113.5 0 6.75 6.75 0 01-13.5 0z"/>
          </svg>
          Admin View
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="Layout Layout--sidebarPosition-start Layout--sidebar-narrow">
    <div class="Layout-sidebar">
      <div class="Box mb-3">
        <div class="Box-header">
          <h3 class="Box-title">User Information</h3>
        </div>
        <div class="Box-body">
          <dl class="form-group">
            <dt>Role</dt>
            <dd>
              <span class="Label Label--<%= @user.admin? ? 'danger' : 'secondary' %>">
                <%= @user.role&.titleize %>
              </span>
            </dd>
          </dl>
          <dl class="form-group">
            <dt>Organization</dt>
            <dd><%= @user.organization&.name || 'None' %></dd>
          </dl>
          <dl class="form-group">
            <dt>Member Since</dt>
            <dd><%= @user.created_at.strftime("%B %d, %Y") %></dd>
          </dl>
          <dl class="form-group">
            <dt>Last Updated</dt>
            <dd><%= @user.updated_at.strftime("%B %d, %Y") %></dd>
          </dl>
        </div>
      </div>

      <div class="Box">
        <div class="Box-header d-flex flex-items-center flex-justify-between">
          <h3 class="Box-title">Quick Stats</h3>
        </div>
        <div class="Box-body">
          <div class="d-flex flex-items-center mb-2">
            <svg class="octicon octicon-file mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
              <path d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"/>
            </svg>
            <span class="text-gray"><%= @authored_documents.total_count %> Documents</span>
          </div>
          <div class="d-flex flex-items-center mb-2">
            <svg class="octicon octicon-people mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
              <path d="M2 5.5a3.5 3.5 0 101.665 2.95L8.585 10l-.665.665 1.948 1.948a3.5 3.5 0 101.414-1.414l1.948-1.948L10 8.585l-1.55 1.665a3.5 3.5 0 10-2.95-1.665H2zM5.5 12a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm4.5-1.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"/>
            </svg>
            <span class="text-gray"><%= @user.teams.count %> Teams</span>
          </div>
          <div class="d-flex flex-items-center">
            <svg class="octicon octicon-activity mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
              <path d="M8 16A8 8 0 108 0a8 8 0 000 16zM1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zm4.879-2.773l4.264-1.559a.25.25 0 010 .465l-4.264 1.559A.25.25 0 016 10.559V8.5a.5.5 0 01.879-.273z"/>
            </svg>
            <span class="text-gray"><%= @activity_logs.total_count %> Activities</span>
          </div>
        </div>
      </div>
    </div>

    <div class="Layout-main">
      <!-- Teams Section -->
      <div class="Box mb-4">
        <div class="Box-header d-flex flex-items-center flex-justify-between">
          <h3 class="Box-title">Teams</h3>
          <% if current_user.admin? || current_user == @user %>
            <button class="btn btn-primary" onclick="openAddTeamModal()">
              <svg class="octicon octicon-plus mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                <path d="M8 4a.75.75 0 01.75.75v2.5h2.5a.75.75 0 010 1.5h-2.5v2.5a.75.75 0 01-1.5 0v-2.5h-2.5a.75.75 0 010-1.5h2.5v-2.5A.75.75 0 018 4z"/>
              </svg>
              Add to Team
            </button>
          <% end %>
        </div>
        <div class="Box-body">
          <% if @user.teams.any? %>
            <div class="d-flex flex-wrap gap-2">
              <% @user.teams.each do |team| %>
                <div class="Box p-3" style="min-width: 200px;">
                  <div class="d-flex flex-items-center mb-2">
                    <svg class="octicon octicon-people mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                      <path d="M2 5.5a3.5 3.5 0 101.665 2.95L8.585 10l-.665.665 1.948 1.948a3.5 3.5 0 101.414-1.414l1.948-1.948L10 8.585l-1.55 1.665a3.5 3.5 0 10-2.95-1.665H2zM5.5 12a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm4.5-1.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"/>
                    </svg>
                    <strong><%= team.name %></strong>
                  </div>
                  <p class="text-gray text-small mb-2"><%= team.description %></p>
                  <div class="d-flex flex-items-center justify-content-between">
                    <span class="text-gray text-small"><%= team.organization.name %></span>
                    <% if current_user.admin? %>
                      <%= link_to admin_team_path(team), class: "btn btn-sm btn-outline" do %>
                        View
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="blankslate">
              <svg class="octicon octicon-people blankslate-icon" width="24" height="24" viewBox="0 0 16 16" fill="currentColor">
                <path d="M2 5.5a3.5 3.5 0 101.665 2.95L8.585 10l-.665.665 1.948 1.948a3.5 3.5 0 101.414-1.414l1.948-1.948L10 8.585l-1.55 1.665a3.5 3.5 0 10-2.95-1.665H2zM5.5 12a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm4.5-1.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"/>
              </svg>
              <h3 class="blankslate-heading">No teams yet</h3>
              <p class="blankslate-text">This user hasn't been added to any teams yet.</p>
              <% if current_user.admin? || current_user == @user %>
                <button class="btn btn-primary" onclick="openAddTeamModal()">
                  <svg class="octicon octicon-plus mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M8 4a.75.75 0 01.75.75v2.5h2.5a.75.75 0 010 1.5h-2.5v2.5a.75.75 0 01-1.5 0v-2.5h-2.5a.75.75 0 010-1.5h2.5v-2.5A.75.75 0 018 4z"/>
                  </svg>
                  Add to Team
                </button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Documents Section -->
      <div class="Box mb-4">
        <div class="Box-header d-flex flex-items-center flex-justify-between">
          <h3 class="Box-title">Recent Documents</h3>
          <%= link_to documents_path(author: @user.id), class: "btn btn-sm btn-outline" do %>
            View All
          <% end %>
        </div>
        <div class="Box-body">
          <% if @authored_documents.any? %>
            <div class="list-style-none">
              <% @authored_documents.each do |document| %>
                <div class="Box-row d-flex flex-items-center">
                  <div class="flex-auto">
                    <div class="d-flex flex-items-center">
                      <svg class="octicon octicon-file mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                        <path d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"/>
                      </svg>
                      <%= link_to document.title, document_path(document), class: "Link--primary" %>
                    </div>
                    <p class="text-gray text-small mb-0">
                      <%= document.folder&.name %> • <%= document.status&.name %> • <%= time_ago_in_words(document.created_at) %> ago
                    </p>
                  </div>
                  <div class="d-flex flex-items-center gap-2">
                    <% document.tags.each do |tag| %>
                      <span class="Label Label--secondary"><%= tag.name %></span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <% if @authored_documents.total_pages > 1 %>
              <div class="d-flex flex-justify-center mt-3">
                <%= paginate @authored_documents, theme: 'primer' %>
              </div>
            <% end %>
          <% else %>
            <div class="blankslate">
              <svg class="octicon octicon-file blankslate-icon" width="24" height="24" viewBox="0 0 16 16" fill="currentColor">
                <path d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"/>
              </svg>
              <h3 class="blankslate-heading">No documents yet</h3>
              <p class="blankslate-text">This user hasn't created any documents yet.</p>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Activity Section -->
      <div class="Box">
        <div class="Box-header d-flex flex-items-center flex-justify-between">
          <h3 class="Box-title">Recent Activity</h3>
          <%= link_to activity_logs_path(user: @user.id), class: "btn btn-sm btn-outline" do %>
            View All
          <% end %>
        </div>
        <div class="Box-body">
          <% if @activity_logs.any? %>
            <div class="Timeline">
              <% @activity_logs.each do |activity| %>
                <div class="TimelineItem">
                  <div class="TimelineItem-badge">
                    <svg class="octicon octicon-activity" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                      <path d="M8 16A8 8 0 108 0a8 8 0 000 16zM1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zm4.879-2.773l4.264-1.559a.25.25 0 010 .465l-4.264 1.559A.25.25 0 016 10.559V8.5a.5.5 0 01.879-.273z"/>
                    </svg>
                  </div>
                  <div class="TimelineItem-body">
                    <div class="d-flex flex-items-center">
                      <span class="text-bold"><%= activity.action %></span>
                      <% if activity.document %>
                        <%= link_to activity.document.title, document_path(activity.document), class: "Link--primary ml-1" %>
                      <% end %>
                    </div>
                    <p class="text-gray text-small mb-0"><%= time_ago_in_words(activity.created_at) %> ago</p>
                  </div>
                </div>
              <% end %>
            </div>
            <% if @activity_logs.total_pages > 1 %>
              <div class="d-flex flex-justify-center mt-3">
                <%= paginate @activity_logs, theme: 'primer' %>
              </div>
            <% end %>
          <% else %>
            <div class="blankslate">
              <svg class="octicon octicon-activity blankslate-icon" width="24" height="24" viewBox="0 0 16 16" fill="currentColor">
                <path d="M8 16A8 8 0 108 0a8 8 0 000 16zM1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zm4.879-2.773l4.264-1.559a.25.25 0 010 .465l-4.264 1.559A.25.25 0 016 10.559V8.5a.5.5 0 01.879-.273z"/>
              </svg>
              <h3 class="blankslate-heading">No activity yet</h3>
              <p class="blankslate-text">This user hasn't performed any actions yet.</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add to Team Modal -->
<div class="modal-backdrop js-toggler" data-toggler="modal-backdrop" id="addTeamModal" style="display: none;"></div>
<div class="modal js-toggler" data-toggler="modal" id="addTeamModalContent" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-header">
      <h3 class="modal-title">Add <%= @user.name %> to Team</h3>
      <button type="button" class="btn-close js-toggler" data-toggler="modal" aria-label="Close modal"></button>
    </div>
    <div class="modal-body">
             <form id="addTeamForm" action="<%= add_member_admin_team_path(0) %>" method="post">
         <input type="hidden" name="_method" value="patch">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="user_id" value="<%= @user.id %>">
         <input type="hidden" name="redirect_to_user_profile" value="true">
        
        <div class="form-group">
          <label for="team_id">Select Team</label>
          <select name="team_id" id="team_id" class="form-select" required>
            <option value="">Choose a team...</option>
            <% Team.includes(:organization).each do |team| %>
              <% unless @user.teams.include?(team) %>
                <option value="<%= team.id %>"><%= team.name %> (<%= team.organization.name %>)</option>
              <% end %>
            <% end %>
          </select>
        </div>
        
        <div class="form-group">
          <label for="role">Role in Team (Optional)</label>
          <input type="text" name="role" id="role" class="form-control" placeholder="e.g., Developer, Designer, etc.">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" onclick="closeAddTeamModal()">Cancel</button>
      <button type="submit" form="addTeamForm" class="btn btn-primary">Add to Team</button>
    </div>
  </div>
</div>

<script>
function openAddTeamModal() {
  document.getElementById('addTeamModal').style.display = 'block';
  document.getElementById('addTeamModalContent').style.display = 'block';
}

function closeAddTeamModal() {
  document.getElementById('addTeamModal').style.display = 'none';
  document.getElementById('addTeamModalContent').style.display = 'none';
}

// Update form action when team is selected
document.getElementById('team_id').addEventListener('change', function() {
  const teamId = this.value;
  const form = document.getElementById('addTeamForm');
  if (teamId) {
    form.action = '<%= add_member_admin_team_path(0) %>'.replace('0', teamId);
  }
});

// Close modal when clicking backdrop
document.getElementById('addTeamModal').addEventListener('click', function(e) {
  if (e.target === this) {
    closeAddTeamModal();
  }
});
</script>
