<%= render(Primer::Beta::BorderBox.new) do %>
  <%= render(Primer::Beta::BorderBox::Header.new) do %>
    <div class="d-flex flex-items-center flex-justify-between">
      <%= render(Primer::Beta::Heading.new(tag: :h3, size: 400)) do %>
        <%= title %>
      <% end %>
      <%= render(Primer::Beta::Button.new(
        href: send(manage_path),
        scheme: :secondary,
        size: :small
      )) do %>
        <%= manage_text %>
      <% end %>
    </div>
  <% end %>
  
  <%= render(Primer::Beta::BorderBox::Body.new) do %>
    <% if has_data? %>
      <div class="d-flex flex-column" style="gap: 12px;">
        <% data.each do |key, count| %>
          <%= render(Primer::Beta::BorderBox::Row.new) do %>
            <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
              <div class="d-flex flex-items-center">
                <div class="mr-3">
                  <%= render(Primer::Beta::Octicon.new(icon: icon, size: :small, color: :muted)) %>
                </div>
                <%= render(Primer::Beta::Label.new(
                  scheme: key == 'admin' ? :danger : :secondary,
                  size: :large
                )) do %>
                  <%= key.titleize %>
                <% end %>
              </div>
              <span class="f3 text-semibold"><%= count %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= render(Ui::EmptyStateComponent.new(
        title: empty_state[:title],
        description: empty_state[:description],
        icon: empty_state[:icon]
      )) %>
    <% end %>
  <% end %>
<% end %>
