<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do %>
  <div class="d-flex flex-items-center">
    <div class="mr-3">
      <%= render(Primer::Beta::CircleBadge.new(variant: color)) do %>
        <%= render(Primer::Beta::Octicon.new(icon: icon, size: :small)) %>
      <% end %>
    </div>
    <div class="flex-1">
      <div class="f3 text-semibold mb-1"><%= value %></div>
      <div class="f5 color-fg-muted mb-1"><%= title %></div>
      <% if has_subtitle? %>
        <div class="f6 color-fg-muted"><%= subtitle %></div>
      <% end %>
      <% if has_trend? %>
        <div class="d-flex flex-items-center gap-1 mt-2">
          <%= render(Primer::Beta::Octicon.new(icon: trend_icon, size: :small, color: trend_color)) %>
          <span class="f6 color-fg-<%= trend_color %>"><%= trend %></span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
