<div class="Box p-3">
  <div class="d-flex flex-items-center">
    <div class="mr-3">
      <div class="CircleBadge CircleBadge--<%= color %>">
        <svg class="octicon octicon-<%= icon %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
          <%= render_icon_path(icon) %>
        </svg>
      </div>
    </div>
    <div class="flex-1">
      <div class="f3 text-semibold mb-1"><%= value %></div>
      <div class="f5 color-fg-muted mb-1"><%= title %></div>
      <% if has_subtitle? %>
        <div class="f6 color-fg-muted"><%= subtitle %></div>
      <% end %>
      <% if has_trend? %>
        <div class="d-flex flex-items-center gap-1 mt-2">
          <svg class="octicon octicon-<%= trend_icon %> color-fg-<%= trend_color %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
            <%= render_icon_path(trend_icon) %>
          </svg>
          <span class="f6 color-fg-<%= trend_color %>"><%= trend %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
