<% content_for :title, "Admin - Tags" %>

<div class="container-lg px-3 py-4">
  <!-- Header -->
  <div class="d-flex flex-items-center flex-justify-between mb-4">
    <div>
      <h1 class="h2">Tags Management</h1>
      <p class="color-fg-muted">Manage and organize document tags across the system</p>
    </div>
    <div class="d-flex flex-items-center gap-2">
      <%= link_to new_admin_tag_path, class: "btn btn-primary" do %>
        <svg class="octicon octicon-plus mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
          <path d="M8 2a.75.75 0 0 1 .75.75v4.5h4.5a.75.75 0 0 1 0 1.5h-4.5v4.5a.75.75 0 0 1-1.5 0v-4.5h-4.5a.75.75 0 0 1 0-1.5h4.5v-4.5A.75.75 0 0 1 8 2Z"></path>
        </svg>
        New Tag
      <% end %>
    </div>
  </div>

  <!-- Search and Filters -->
  <div class="Box mb-4">
    <div class="Box-header">
      <h3 class="Box-title">Search & Filters</h3>
    </div>
    <div class="Box-body">
      <%= search_form_for @q, url: admin_tags_path, method: :get, class: "form" do |f| %>
        <div class="d-flex flex-items-center gap-3">
          <div class="flex-auto">
            <%= f.text_field :name_cont, class: "form-control", placeholder: "Search by tag name..." %>
          </div>
          <div class="d-flex flex-items-center gap-2">
            <%= f.submit "Search", class: "btn btn-primary" %>
            <%= link_to "Clear", admin_tags_path, class: "btn btn-outline" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Tags Grid -->
  <div class="Box">
    <div class="Box-header d-flex flex-items-center flex-justify-between">
      <h3 class="Box-title">
        Tags
        <% if @tags.respond_to?(:total_count) %>
          <span class="Counter"><%= @tags.total_count %></span>
        <% end %>
      </h3>
    </div>

    <div class="Box-body">
      <% if @tags&.any? %>
        <div class="row g-3">
          <% @tags.each do |tag| %>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="Box p-3">
                <div class="d-flex flex-items-center justify-content-between mb-2">
                  <div class="d-flex flex-items-center">
                    <span class="Label Label--<%= tag.color || 'secondary' %> mr-2"><%= tag.name %></span>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-sm" type="button" aria-expanded="false" data-bs-toggle="dropdown">
                      <svg class="octicon octicon-kebab-horizontal" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                        <path d="M8 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM1.5 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM14.5 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"/>
                      </svg>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to admin_tag_path(tag), class: "dropdown-item" do %>
                          <svg class="octicon octicon-eye mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                            <path d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.868 9.687 2.038 8.558 1.626 7.937a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"/>
                          </svg>
                          View
                        <% end %>
                      </li>
                      <li>
                        <%= link_to edit_admin_tag_path(tag), class: "dropdown-item" do %>
                          <svg class="octicon octicon-pencil mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                            <path d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"/>
                          </svg>
                          Edit
                        <% end %>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                        <%= link_to admin_tag_path(tag), method: :delete, data: { confirm: "Are you sure you want to delete this tag?" }, class: "dropdown-item text-danger" do %>
                          <svg class="octicon octicon-trash mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                            <path d="M10.5 4.5a.75.75 0 00-1.5 0v1h-3v-1a.75.75 0 00-1.5 0v1h-2.25a.75.75 0 000 1.5H2v8.25c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 15.25V7h.75a.75.75 0 000-1.5H12.5v-1zM11 7v8.25a.25.25 0 01-.25.25h-8.5A.25.25 0 013 15.25V7h8z"/>
                          </svg>
                          Delete
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="d-flex flex-items-center text-gray text-small">
                  <svg class="octicon octicon-file mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"/>
                  </svg>
                  <%= pluralize(tag.documents.count, 'document') %>
                </div>
                <div class="text-gray text-small mt-1">
                  Created <%= time_ago_in_words(tag.created_at) %> ago
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Pagination -->
        <% if @tags.respond_to?(:current_page) %>
          <div class="d-flex flex-justify-center mt-4">
            <nav class="paginate-container" aria-label="Pagination">
              <div class="pagination">
                <% if @tags.prev_page %>
                  <%= link_to "Previous", url_for(page: @tags.prev_page), class: "previous_page", rel: "prev" %>
                <% else %>
                  <span class="previous_page disabled">Previous</span>
                <% end %>
                
                <% @tags.total_pages.times do |page_num| %>
                  <% page_num += 1 %>
                  <% if page_num == @tags.current_page %>
                    <em class="current"><%= page_num %></em>
                  <% elsif page_num == 1 || page_num == @tags.total_pages || (page_num >= @tags.current_page - 2 && page_num <= @tags.current_page + 2) %>
                    <%= link_to page_num, url_for(page: page_num) %>
                  <% elsif page_num == @tags.current_page - 3 || page_num == @tags.current_page + 3 %>
                    <span class="gap">…</span>
                  <% end %>
                <% end %>
                
                <% if @tags.next_page %>
                  <%= link_to "Next", url_for(page: @tags.next_page), class: "next_page", rel: "next" %>
                <% else %>
                  <span class="next_page disabled">Next</span>
                <% end %>
              </div>
            </nav>
          </div>
        <% end %>
      <% else %>
        <div class="blankslate">
          <svg class="octicon octicon-tag blankslate-icon" width="24" height="24" viewBox="0 0 16 16" fill="currentColor">
            <path d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .909.184 1.237.513l6.25 6.25c.329.328.513.773.513 1.237v5.025A1.75 1.75 0 0112.25 15h-5.025c-.464 0-.909-.184-1.237-.513l-6.25-6.25A1.75 1.75 0 011 12.25zM6 5a1 1 0 100 2 1 1 0 000-2z"/>
          </svg>
          <h3 class="blankslate-heading">No tags found</h3>
          <p class="blankslate-text">Get started by creating your first tag.</p>
          <%= link_to new_admin_tag_path, class: "btn btn-primary" do %>
            <svg class="octicon octicon-plus mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
              <path d="M8 4a.75.75 0 01.75.75v2.5h2.5a.75.75 0 010 1.5h-2.5v2.5a.75.75 0 01-1.5 0v-2.5h-2.5a.75.75 0 010-1.5h2.5v-2.5A.75.75 0 018 4z"/>
            </svg>
            Create Tag
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
