<!-- User menu using Primer components -->
<%= render Primer::Alpha::ActionMenu.new do |menu| %>
  <% menu.with_show_button do %>
    <%= render Primer::Beta::Button.new(
      scheme: :default,
      size: :small,
      "aria-label": "User menu"
    ) do %>
      <!-- User Avatar -->
      <div class="avatar avatar-small mr-2">
        <div class="avatar-inner">
          <%= user_initials %>
        </div>
      </div>
      
      <!-- Dropdown Arrow -->
      <%= render Primer::Beta::Octicon.new(icon: :"chevron-down") %>
    <% end %>
  <% end %>

  <!-- User Info Header -->
  <%= menu.with_item do %>
    <div class="f6 color-fg-muted">Signed in as</div>
    <div class="text-bold"><%= user.email %></div>
  <% end %>

  <!-- Menu Items -->
  <% menu_items.each do |item| %>
    <% if item == :divider %>
      <%= menu.with_divider %>
    <% else %>
      <% href = item[:label] == 'Sign Out' ? destroy_user_session_path : item[:href] %>
      <%= menu.with_item(
        href: href,
        data: { method: item[:method] },
        classes: item[:classes]
      ) do %>
        <%= render Primer::Beta::Octicon.new(icon: item[:icon], mr: 2) %>
        <%= item[:label] %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
