<!-- User menu using simple dropdown -->
<div class="dropdown">
  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <!-- User Avatar -->
    <div class="avatar avatar-small mr-2">
      <div class="avatar-inner">
        <%= user_initials %>
      </div>
    </div>
    
    <!-- Dropdown Arrow -->
    <%= render Primer::Beta::Octicon.new(icon: :"chevron-down") %>
  </button>
  
  <ul class="dropdown-menu">
    <!-- User Info Header -->
    <li class="dropdown-header">
      <div class="f6 color-fg-muted">Signed in as</div>
      <div class="text-bold"><%= user.email %></div>
    </li>
    
    <!-- Menu Items -->
    <% menu_items.each do |item| %>
      <% if item == :divider %>
        <li><hr class="dropdown-divider"></li>
      <% else %>
        <li>
          <a class="dropdown-item <%= item[:classes] %>" href="<%= item[:href] %>" 
             <% if item[:method] %>data-method="<%= item[:method] %>"<% end %>>
            <%= render Primer::Beta::Octicon.new(icon: item[:icon], mr: 2) %>
            <%= item[:label] %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
