<div class="<%= container_classes %>" style="<%= container_styles %>">
  <div class="<%= left_column_class %>">
    <%= content %>
  </div>
  <div class="<%= right_column_class %>">
    <%= content_for :right_column %>
  </div>
</div>
