<div class="dropdown">
  <button class="btn btn-sm btn-outline dropdown-toggle d-flex flex-items-center" 
          type="button" 
          data-bs-toggle="dropdown" 
          aria-expanded="false">
    <!-- User Avatar -->
    <div class="avatar avatar-small mr-2">
      <div class="avatar-inner">
        <%= user_initials %>
      </div>
    </div>
    
    <!-- Dropdown Arrow -->
    <i class="octicon octicon-chevron-down"></i>
  </button>

  <ul class="dropdown-menu dropdown-menu-right">
    <!-- User Info Header -->
    <li class="dropdown-item-text">
      <div class="f6 color-fg-muted">Signed in as</div>
      <div class="text-bold"><%= user.email %></div>
    </li>
    
    <li class="dropdown-divider"></li>

    <!-- Menu Items -->
    <% menu_items.each do |item| %>
      <% if item == :divider %>
        <li class="dropdown-divider"></li>
      <% else %>
        <li>
          <%= link_to item[:href], 
              class: "dropdown-item d-flex flex-items-center",
              data: { method: item[:method] } do %>
            <i class="octicon octicon-<%= item[:icon] %> mr-2"></i>
            <%= item[:label] %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
