<% content_for :title, @tag.name %>

<div class="container-lg px-3 py-4">
  <!-- Header -->
  <div class="d-flex flex-items-center flex-justify-between mb-4">
    <div>
      <h1 class="h2">
        <span class="Label Label--secondary" style="background-color: <%= @tag.color %>;">
          <%= @tag.name %>
        </span>
      </h1>
      <p class="color-fg-muted">Tag details and associated documents</p>
    </div>
    <div class="d-flex flex-items-center gap-2">
      <%= link_to edit_tag_path(@tag), class: "btn" do %>
        <svg class="octicon octicon-pencil mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
          <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.08-.283.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-1.238L13.19 6.25l1.439-1.44a.25.25 0 0 0 0-.354l-1.086-1.086a.25.25 0 0 0-.354 0Z"></path>
        </svg>
        Edit Tag
      <% end %>
      <%= link_to tags_path, class: "btn" do %>
        <svg class="octicon octicon-arrow-left mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
          <path d="M7.78 12.53a.75.75 0 0 1-1.06 0L2.47 8.28a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 1.06L4.81 7h7.44a.75.75 0 0 1 0 1.5H4.81l2.97 2.97a.75.75 0 0 1 0 1.06Z"></path>
        </svg>
        Back to Tags
      <% end %>
    </div>
  </div>

  <!-- Stats -->
  <div class="row g-3 mb-4">
    <div class="col-md-6">
      <%= render(Dashboard::StatsCardComponent.new(
        title: "Documents Tagged",
        value: @tag.usage_count,
        icon: "file-text",
        color: "blue"
      )) %>
    </div>
    <div class="col-md-6">
      <%= render(Dashboard::StatsCardComponent.new(
        title: "Created",
        value: @tag.created_at&.strftime("%b %d, %Y") || "Unknown",
        icon: "clock",
        color: "green"
      )) %>
    </div>
  </div>

  <!-- Documents Section -->
  <div class="Box">
    <div class="Box-header d-flex flex-items-center flex-justify-between">
      <h3 class="Box-title">
        Tagged Documents
        <span class="Counter"><%= @documents.count %></span>
      </h3>
    </div>
    <div class="Box-body">
      <% if @documents.any? %>
        <div class="row g-3">
          <% @documents.each do |document| %>
            <div class="col-12 col-md-6 col-lg-4">
              <%= render(Document::CardComponent.new(document: document)) %>
            </div>
          <% end %>
        </div>

        <!-- Pagination -->
        <% if @documents.respond_to?(:current_page) %>
          <div class="d-flex flex-justify-center mt-4">
            <nav class="paginate-container" aria-label="Pagination">
              <div class="pagination">
                <% if @documents.prev_page %>
                  <%= link_to "Previous", url_for(page: @documents.prev_page), class: "previous_page", rel: "prev" %>
                <% else %>
                  <span class="previous_page disabled">Previous</span>
                <% end %>
                
                <% @documents.total_pages.times do |page_num| %>
                  <% page_num += 1 %>
                  <% if page_num == @documents.current_page %>
                    <em class="current"><%= page_num %></em>
                  <% elsif page_num == 1 || page_num == @documents.total_pages || (page_num >= @documents.current_page - 2 && page_num <= @documents.current_page + 2) %>
                    <%= link_to page_num, url_for(page: page_num) %>
                  <% elsif page_num == @documents.current_page - 3 || page_num == @documents.current_page + 3 %>
                    <span class="gap">…</span>
                  <% end %>
                <% end %>
                
                <% if @documents.next_page %>
                  <%= link_to "Next", url_for(page: @documents.next_page), class: "next_page", rel: "next" %>
                <% else %>
                  <span class="next_page disabled">Next</span>
                <% end %>
              </div>
            </nav>
          </div>
        <% end %>
      <% else %>
        <%= render(Ui::EmptyStateComponent.new(
          title: "No Documents Tagged",
          description: "This tag hasn't been applied to any documents yet.",
          icon: "file-text"
        )) %>
      <% end %>
    </div>
  </div>
</div>
