<div class="<%= card_classes %>">
  <div class="Box-header d-flex flex-items-center flex-justify-between">
    <div class="d-flex flex-items-center">
      <div class="mr-3">
        <svg class="octicon octicon-tag color-fg-muted" width="20" height="20" viewBox="0 0 16 16">
          <path d="M1 7.775V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 0 1 0 2.474l-5.026 5.026a1.75 1.75 0 0 1-2.474 0l-6.25-6.25A1.752 1.752 0 0 1 1 7.775Zm1.5 0c0 .066.026.13.073.177l6.25 6.25a.25.25 0 0 0 .354 0l5.025-5.025a.25.25 0 0 0 0-.354l-6.25-6.25a.25.25 0 0 0-.177-.073H2.75a.25.25 0 0 0-.25.25ZM6 5a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z"></path>
        </svg>
      </div>
      <div class="flex-1">
        <h4 class="f4 text-semibold mb-1">
          <%= link_to tag.name, tag_path_helper, class: "Link--primary" %>
        </h4>
        <% if tag.color.present? %>
          <span class="Label" style="<%= tag_color_style %>">
            <%= tag.name %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="Box-body">
    <div class="d-flex flex-column" style="gap: 12px;">
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Documents:</span>
        <span class="f6 text-semibold"><%= usage_count %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Created:</span>
        <span class="f6 text-semibold"><%= formatted_date %></span>
      </div>
      <% if tag.color.present? %>
        <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
          <span class="f6 color-fg-muted">Color:</span>
          <div class="d-flex flex-items-center">
            <div class="color-preview mr-2" style="width: 16px; height: 16px; background-color: <%= tag.color %>; border-radius: 2px; border: 1px solid var(--color-border-default);"></div>
            <span class="f6 text-semibold"><%= tag.color %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if show_actions %>
    <div class="Box-footer">
      <div class="d-flex flex-items-center flex-justify-between">
        <div class="d-flex flex-items-center" style="gap: 8px;">
          <%= link_to tag_path_helper, class: "btn btn-sm btn-outline" do %>
            <svg class="octicon octicon-eye mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path d="M8 2c1.981 0 3.671.992 4.933 2.078 1.27 1.091 2.187 2.345 2.637 3.023a1.62 1.62 0 0 1 0 1.798c-.45.678-1.367 1.932-2.637 3.023C11.671 13.008 9.981 14 8 14c-1.981 0-3.671-.992-4.933-2.078C1.797 10.889.88 9.635.43 8.957a1.62 1.62 0 0 1 0-1.798c.45-.678 1.367-1.932 2.637-3.023C4.329 2.992 6.019 2 8 2ZM8 1c-2.2 0-4.2.9-5.657 2.343 1.515 1.4 2.796 2.88 3.561 3.566A7.5 7.5 0 0 0 8 6.5a7.5 7.5 0 0 0 2.096.409c.765-.686 2.046-2.166 3.561-3.566C12.2 1.9 10.2 1 8 1Zm0 5.5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z"></path>
            </svg>
            View
          <% end %>
          <%= link_to edit_tag_path_helper, class: "btn btn-sm btn-outline" do %>
            <svg class="octicon octicon-pencil mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-.897.897a.75.75 0 0 1-.53.22H13.25a.75.75 0 0 1-.75-.75v-1.5a.75.75 0 0 0-.75-.75h-1.5a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 1-.75.75H9.5a.75.75 0 0 1-.53-.22l-.897-.897a1.75 1.75 0 0 1 0-2.474l1.086-1.086ZM6.463 1.076a.25.25 0 0 1 .354 0l1.086 1.086a.25.25 0 0 1 0 .354L6.463 4.463a.25.25 0 0 1-.354 0L4.987 3.377a.25.25 0 0 1 0-.354L6.463 1.076ZM2.853.439a1.75 1.75 0 0 1 2.474 0L6.177 2.853A.25.25 0 0 1 6.5 3.207v1.5a.75.75 0 0 0 .75.75h1.5a.75.75 0 0 0 .75-.75v-1.5a.25.25 0 0 1 .323-.354L9.673 3.439a1.75 1.75 0 0 1 2.474 0l.897.897a.75.75 0 0 1 .22.53v1.25a.75.75 0 0 1-.75.75H12.5a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1-.75-.75v-1.5a.75.75 0 0 0-.75-.75H8.5a.75.75 0 0 1-.75-.75V4.866a.75.75 0 0 1 .22-.53l.897-.897ZM2.22 7.47a.75.75 0 0 1 .22.53v1.25a.75.75 0 0 0 .75.75h1.5a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1-.75-.75v-1.5a.75.75 0 0 0-.75-.75H2.5a.75.75 0 0 1-.75-.75V8.866a.75.75 0 0 1 .22-.53l.897-.897a1.75 1.75 0 0 1 2.474 0l.897.897ZM.439 9.147a.25.25 0 0 1 .354 0L2.853 10.56a.25.25 0 0 1 0 .354L.439 12.853a.25.25 0 0 1-.354 0L.147 12.147a.25.25 0 0 1 0-.354L.439 9.147ZM.439 12.853a1.75 1.75 0 0 1 2.474 0l.897.897a.75.75 0 0 1 .22.53v1.25a.75.75 0 0 0 .75.75h1.5a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1-.75-.75v-1.5a.75.75 0 0 0-.75-.75H2.5a.75.75 0 0 1-.75-.75v-1.25a.75.75 0 0 1 .22-.53l.897-.897a1.75 1.75 0 0 1 2.474 0l.897.897ZM.439 15.147a.25.25 0 0 1 .354 0L2.853 16.56a.25.25 0 0 1 0 .354L.439 18.853a.25.25 0 0 1-.354 0L.147 18.147a.25.25 0 0 1 0-.354L.439 15.147Z"></path>
            </svg>
            Edit
          <% end %>
        </div>
        <%= link_to delete_tag_path_helper, 
            method: :delete, 
            class: "btn btn-sm btn-danger",
            data: { 
              confirm: "Are you sure you want to delete '#{tag.name}'?",
              turbo_method: :delete
            } do %>
          <svg class="octicon octicon-trash mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
            <path d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.748 1.748 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"></path>
          </svg>
          Delete
        <% end %>
      </div>
    </div>
  <% end %>
</div>
