<div class="<%= card_classes %>">
  <div class="Box-header d-flex flex-items-center flex-justify-between">
    <div class="d-flex flex-items-center">
      <div class="mr-3">
        <svg class="octicon octicon-file-directory color-fg-muted" width="20" height="20" viewBox="0 0 16 16">
          <path d="M1.75 1A1.75 1.75 0 0 0 0 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0 0 16 13.25v-8.5A1.75 1.75 0 0 0 14.25 3H7.5a.25.25 0 0 1-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75Z"></path>
        </svg>
      </div>
      <div class="flex-1">
        <h4 class="f4 text-semibold mb-1">
          <%= link_to folder.name, folder_path(folder), class: "Link--primary" %>
        </h4>
      </div>
    </div>
  </div>

  <div class="Box-body">
    <% if folder.description.present? %>
      <p class="f5 color-fg-muted mb-3 lh-default">
        <%= truncated_description %>
      </p>
    <% end %>
    
    <div class="d-flex flex-column" style="gap: 12px;">
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Team:</span>
        <span class="f6 text-semibold"><%= team_name %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Organization:</span>
        <span class="f6 text-semibold"><%= organization_name %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Documents:</span>
        <span class="f6 text-semibold"><%= pluralize(document_count, 'document') %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Subfolders:</span>
        <span class="f6 text-semibold"><%= pluralize(subfolder_count, 'subfolder') %></span>
      </div>
      <div class="d-flex flex-items-center flex-justify-between p-2 border rounded-2">
        <span class="f6 color-fg-muted">Created:</span>
        <span class="f6 text-semibold"><%= formatted_date %></span>
      </div>
    </div>
  </div>

  <% if show_actions %>
    <div class="Box-footer">
      <div class="d-flex flex-items-center flex-justify-between">
        <div class="d-flex flex-items-center" style="gap: 8px;">
          <%= link_to folder_path(folder), class: "btn btn-sm btn-outline" do %>
            <svg class="octicon octicon-eye mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path d="M8 2c1.981 0 3.671.992 4.933 2.078 1.27 1.091 2.187 2.345 2.637 3.023a1.62 1.62 0 0 1 0 1.798c-.45.678-1.367 1.932-2.637 3.023C11.671 13.008 9.981 14 8 14c-1.981 0-3.671-.992-4.933-2.078C1.797 10.889.88 9.635.43 8.957a1.62 1.62 0 0 1 0-1.798c.45-.678 1.367-1.932 2.637-3.023C4.33 2.992 6.019 2 8 2ZM8 1c-2.331 0-4.264 1.186-5.615 2.354C1.343 4.524.5 5.79.5 6.5c0 .71.843 1.976 1.885 3.146C3.736 10.814 5.669 12 8 12c2.331 0 4.264-1.186 5.615-2.354C14.657 7.476 15.5 6.21 15.5 6.5c0-.71-.843-1.976-1.885-3.146C12.264 1.186 10.331 0 8 0Z"></path>
            </svg>
            View
          <% end %>
          <%= link_to edit_folder_path(folder), class: "btn btn-sm btn-outline" do %>
            <svg class="octicon octicon-pencil mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.08-.283.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-1.238L13.19 6.25l1.439-1.44a.25.25 0 0 0 0-.354l-1.086-1.086a.25.25 0 0 0-.354 0Z"></path>
            </svg>
            Edit
          <% end %>
        </div>
        <%= link_to folder_path(folder), 
            method: :delete, 
            data: { confirm: "Are you sure you want to delete '#{folder.name}'?" },
            class: "btn btn-sm btn-danger" do %>
          <svg class="octicon octicon-trash mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
            <path d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.748 1.748 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"></path>
          </svg>
          Delete
        <% end %>
      </div>
    </div>
  <% end %>
</div>
