<div class="<%= card_classes %>">
  <div class="<%= title_classes %>">
    <div class="d-flex flex-items-center flex-justify-between">
      <h4 class="mb-0">
        <%= link_to document.title, document_path(document), class: "Link--primary" %>
      </h4>
      <% if has_file? %>
        <span class="Label Label--secondary">
          <%= octicon file_icon, class: "mr-1" %>
          <%= document.file.filename.extension.upcase %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="<%= content_classes %>">
    <p class="color-fg-muted mb-2">
      <%= truncated_content %>
    </p>

    <div class="d-flex flex-items-center flex-wrap gap-2 mb-2">
      <%= render(Ui::StatusBadgeComponent.new(status: document.status)) if document.status %>
      <% document.tags.each do |tag| %>
        <%= render(Ui::TagItemComponent.new(tag: tag)) %>
      <% end %>
    </div>

    <div class="d-flex flex-items-center color-fg-muted text-small">
      <span class="mr-3">
        <%= octicon "person", class: "mr-1" %>
        <%= author_name %>
      </span>
      <span class="mr-3">
        <%= octicon "folder", class: "mr-1" %>
        <%= folder_name %>
      </span>
      <span>
        <%= octicon "clock", class: "mr-1" %>
        <%= formatted_date %>
      </span>
    </div>
  </div>

  <% if show_actions %>
    <div class="<%= footer_classes %>">
      <div class="d-flex flex-items-center flex-justify-between">
        <div class="d-flex flex-items-center gap-2">
          <%= link_to document_path(document), class: "btn btn-sm" do %>
            <%= octicon "eye", class: "mr-1" %>
            View
          <% end %>
          <%= link_to edit_document_path(document), class: "btn btn-sm" do %>
            <%= octicon "pencil", class: "mr-1" %>
            Edit
          <% end %>
          <%= link_to document_path(document), 
              method: :delete, 
              class: "btn btn-sm btn-danger",
              data: { 
                confirm: "Are you sure you want to delete '#{document.title}'?",
                turbo_method: :delete
              } do %>
            <%= octicon "trash", class: "mr-1" %>
            Delete
          <% end %>
        </div>
        <div class="d-flex flex-items-center gap-2">
          <% if document.url.present? %>
            <%= link_to document.url, target: "_blank", class: "btn btn-sm btn-outline" do %>
              <%= octicon "link-external", class: "mr-1" %>
              External
            <% end %>
          <% end %>
          <% if has_file? %>
            <%= link_to rails_blob_path(document.file, disposition: "attachment"), class: "btn btn-sm btn-outline" do %>
              <%= octicon "download", class: "mr-1" %>
              Download
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
