<nav class="SideNav border-right color-bg-default" aria-label="Site navigation">
  <div class="SideNav-items">
    <!-- User Section -->
    <% if user_navigation_items.any? %>
      <div class="SideNav-item px-3 py-2 border-0">
        <h6 class="color-fg-muted f6 text-semibold text-uppercase mb-0">Navigation</h6>
      </div>

      <% user_navigation_items.each do |item| %>
        <%= link_to item[:path],
            class: "SideNav-item py-2 #{item[:active] ? 'aria-current' : ''}",
            aria: { current: item[:active] ? 'page' : nil } do %>
          <svg class="octicon octicon-<%= item[:icon] %> mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
            <%= render_icon_path.call(item[:icon]) %>
          </svg>
          <span class="f5"><%= item[:label] %></span>
        <% end %>
      <% end %>
    <% end %>

    <!-- Admin Section -->
    <% if admin_navigation_items.any? %>
      <div class="SideNav-item px-3 py-2 border-0 mt-3">
        <h6 class="color-fg-muted f6 text-semibold text-uppercase mb-0">Administration</h6>
      </div>

      <% admin_navigation_items.each do |item| %>
        <%= link_to item[:path],
            class: "SideNav-item py-2 #{item[:active] ? 'aria-current' : ''}",
            aria: { current: item[:active] ? 'page' : nil } do %>
          <svg class="octicon octicon-<%= item[:icon] %> mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
            <%= render_icon_path.call(item[:icon]) %>
          </svg>
          <span class="f5"><%= item[:label] %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</nav>
