<%= render(Primer::BaseComponent.new(**@system_arguments)) do %>
  <!-- Header Row Container -->
  <div class="Header-inner d-flex flex-items-center flex-justify-between width-full">
    <!-- Left Section: Brand and Context -->
    <div class="Header-section d-flex flex-items-center">
      <%= brand_content %>
      <%= context_section %>
    </div>

    <!-- Center Section: Search -->
    <div class="Header-section d-flex flex-items-center flex-auto">
      <%= search_section %>
    </div>

    <!-- Right Section: Actions -->
    <div class="Header-section d-flex flex-items-center">
      <%= actions_section %>
    </div>
  </div>
<% end %>
