<div class="<%= card_classes %>">
  <div class="d-flex flex-items-center justify-content-between mb-2">
    <div class="d-flex flex-items-center">
      <svg class="octicon octicon-file-code mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
        <path d="M4.72 3.22a.75.75 0 011.06 1.06L2.06 8l3.72 3.72a.75.75 0 11-1.06 1.06L.47 8.53a.75.75 0 010-1.06l4.25-4.25zm6.56 0a.75.75 0 10-1.06 1.06L13.94 8l-3.72 3.72a.75.75 0 101.06 1.06l4.25-4.25a.75.75 0 000-1.06l-4.25-4.25z"/>
      </svg>
      <strong><%= scenario.name %></strong>
    </div>
    
    <% if has_actions? %>
      <%= render(Collection::ActionsMenuComponent.new(resource: scenario, resource_type: 'scenario')) %>
    <% end %>
  </div>
  
  <p class="text-gray text-small mb-2"><%= scenario.description %></p>
  
  <div class="d-flex flex-items-center text-gray text-small">
    <svg class="octicon octicon-file mr-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
      <path d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"/>
    </svg>
    <%= pluralize(documents_count, 'document') %>
  </div>
  
  <div class="text-gray text-small mt-1">
    Created <%= created_time_ago %> ago
  </div>
</div>
